@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@400;700&display=swap');
:root{
    --verde1: #71A98E;
    --roxoescuro: #BF60B6;
    --amarelo: #FFB35A;
    --roxoclaro: #EA97FF;
    --azul: #1A09FF;
    --verde2: #58FF1D;
    --verde3: #6FFF57;
    --branco: #FFFFFF;
    --botao1: rgba(113, 169, 142, 1);
    --botao2: rgba(191, 96, 182, 0.5);
    --botao3: rgba(255, 179, 90, 1);
    --botao4: rgba(234, 151, 255, 0.5);
}