@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@400;700&display=swap');
:root{
    --branco: #FFFFFF;
    --cor-de-fundo: #1A09FF;
    --verde1:#71A98E;
    --amarelo: #FFB35A;
    --roxoclaro: #EA97FF;
    --roxoescuro: #BF60B6;
    --verde2: rgba(8, 74, 86, 0.5);
    --botao-ativo: rgba(17, 209, 243, 0.795);
    --texto-fundo: rgba(13, 105, 122, 0.3);
}
}
body{
    background-color: var(--cor-de-fundo);
    color: var(--branco);
    font-family: 'Chakra Petch', 'Sans-Serif';
}