@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@400;700&display=swap');
:root{
    --branco: #FFFFFF;
    --cor-de-fundo: #473FAA;
    --verde1:#71A98E;
    --amarelo: #FFB35A;
    --roxoclaro: #EA97FF;
    --roxoescuro: #BF60B6;
    --verde2:#58FF1D;
    --verde3: #68FF33;
    --botao1: rgba(113, 169, 142, 1);
    --botao2: rgba(191, 96, 182, 0.5);
    --botao3:rgba(255, 179, 90, 1);
    --botao4: rgba(234, 151, 255, 0.5);
}
body{
    background-color: var(--cor-de-fundo);
    color: var(--branco);
    font-family: 'Chakra Petch', 'Sans-Serif';
}
.conteudo-principal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}